
   
    <h1> Home Codeial Page</h1>
    <section id="feed-posts">
        <h4>Posts</h4>
            <% if(locals.user){%>
            <form action="/posts/create" id="new-post-form" method="POST">
           <p> <textarea name="content" id="post" cols="30" rows="3" placeholder="Whats in Your Mind.." required="true"></textarea></p>
            <input type="submit" value="Post">

            </form>
            <%} %>
            <div id="posts-list-containner">
                <ul>
                    <% for (post of posts){ %>
                         <%-include('_post') -%>

                         <% }%>
                        </ul>
                    </div>
                   
           </section>