<link rel="stylesheet" href="/css/user_Profile.css">
   <h1>Rendered from User Profile Page </h1>

<p> Name:<%= user.name %> </p>
<p> Email:<%= user.email %> </p>
<p> <input type="submit" value="Sign Out"</p>
   
