<h1> Sign Up </h1>
<form action="/users/create" method="post">
<input type="text" name="name" placeholder="Your Name" required ><br>
<input type="email" name="email" placeholder="Your Email" required><br>
<input type="password" name="password" placeholder="Enter Password" required>
<input type="password"  name="confirm_password" placeholder="Confirm Password" required><br>
<input type="submit" value="Sign Up">

</form>