<div id="parent-div">

<form action="/users/create-session" method="post">
    <p> <label> Log in to Codeial</label></p>
    <p> <label> Email/Phone</label></p>
    <p><input type="email" id="userid_field" name="email" placeholder="Enter User Name/Email" required ></p>
<p><label> Password</label></p>
<p> <input type="password" id="password_field" name="password" placeholder="Enter Your Password" required></p>
<p> <input type="submit" id="btn" value="Sign In"></p>
    <label> Forget Password?</label>
    </form>
</div>
<div>
    <p>
        <a href="/users/auth/google">Sign In/ Sign Up with Google </a>
    </p>
</div>